* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #3b3f45;
}

header {
  padding-top: 19px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background: #4a4f56;
  height: 82px;
  text-align: center;
}

.title {
  color: #ff8984;
}

h2 {
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

header p {
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

form {
  width: 534px;
  margin: 0 auto;
}

.item {
  display: flex;
  height: 45px;
  color: #ffffff;
  align-items: center;
  padding: 14px;
  transition: all 0.1s ease-in;
}

.item:nth-child(odd) {
  background-color: #88839e;
}

.item:nth-child(even) {
  background-color: #7a7593;
}

.small-text::before {
  content: "(";
}

.small-text::after {
  content: ")";
}

.item:hover {
  background: #625e77;
}

/* .item:active {
  text-decoration: line-through;
} */

.item:checked {
  background: #fc0;
}
